[2019-03-12 20:20] michaelvasilyuk opened #1 "test"

[2019-03-12 20:27] michaelvasilyuk commented on #1
123

[2019-03-12 20:37] perspective-solutions-admin opened #2 "test3"
123

[2019-03-12 20:50] michaelvasilyuk commented on #2
123

[2019-03-12 20:54] geopoligon commented on #2
qwe

[2019-03-12 20:54] geopoligon opened #3 "test4"
qwe

[2019-03-12 21:27] geopoligon opened #4 "test"
123123123 sdf s

[2019-03-12 21:37] geopoligon opened #5 "test1"

[2019-03-12 22:12] michaelvasilyuk opened #6 "test2"
qweqwe

[2019-03-12 22:12] michaelvasilyuk commented on #6
qwe

[2019-03-12 22:13] michaelvasilyuk commented on #6
werwer

[2019-03-12 22:17] michaelvasilyuk opened #7 "test"
123123

[2019-03-12 22:17] #7 closed

[2019-03-13 10:25] michaelvasilyuk opened #8 "[ПТ] Отчет "Сегментирование""
Шаблон отчета в приложенном файле, который прислал клиент. В файле с настройками описаны отборы, которые они хотят видеть. Реализуем на СКД.

[Шаблон сегментирование.xlsx](https://github.com/perspective-solutions/general-repository/files/2960937/default.xlsx)
[настройки шаблона отчета сегментирования.xlsx](https://github.com/perspective-solutions/general-repository/files/2960942/default.xlsx)

[2019-03-13 10:41] SanyaSkipor commented on #8
Этот отчет с нуля нужно сделать? Или есть заготовка?

[2019-03-13 10:45] michaelvasilyuk commented on #8
в конфе есть отчет "Отчет по плану продаж по организациям". Из него можно кое-что, но лучше писать его с нуля.

[2019-03-13 10:49] michaelvasilyuk opened #9 "test"
123

[2019-03-13 10:49] michaelvasilyuk commented on #9
тестовый коммент

[2019-03-13 10:50] michaelvasilyuk opened #10 "тест 2"
ывфывфывфыв

[2019-03-13 10:51] michaelvasilyuk commented on #10
123

[2019-03-13 10:51] michaelvasilyuk commented on #10
234

[2019-03-13 10:53] michaelvasilyuk commented on #10
345

[2019-03-13 10:53] #10 closed

[2019-03-13 11:09] SanyaSkipor commented on #8
Пока осмысливаю задание. Там есть несколько полей со словом "Рынок". Это определенный склад или что это?

[2019-03-13 11:09] michaelvasilyuk commented on #8
Рынок, это такой элемент справочника Организации, в котором ЭтоРозничнаяТочка=Истина

[2019-03-13 11:15] michaelvasilyuk commented on #8
Еще один момент: колонка План берется из регистра "ПланПродаж", в отличие от отчета по плану продаж по организациям, где используется два регистра по планам.

[2019-03-13 11:37] SanyaSkipor commented on #8
А что имеется ввиду под полем "Рекомендуемый остаток рынка"?

[2019-03-13 11:41] michaelvasilyuk commented on #8
регистр сведений "РекомендуемыеОстаткиТоваров". Там разрез склада, бренда и номенклатуры. Склад соединяется с Организацией через Склад.Организация

[2019-03-13 12:03] SanyaSkipor commented on #8
А чем отличаются "ПланПродажПоКоличеству" И "ПланПродажПоКоличеству По Компании"? По чем первое поле еще разрезается, не совсем понимаю

[2019-03-13 12:04] michaelvasilyuk commented on #8
ПланПродажПоКоличеству - в разрезе организации, а вторая колонка по всем организациям по компании

[2019-03-13 12:08] SanyaSkipor commented on #8
Ааа, точно, не увидел сразу, что еще по организациям группируем. Тогда еще вопрос:

Может, из регистра "ПланПродажПоОрганизациям"? Потому что у нас есть и колонка "ПланПродажПоКоличеству" в разрезе организаций..

[2019-03-13 12:10] michaelvasilyuk commented on #8
@SanyaSkipor нет, план продаж по организациям это план по суммам в разрезе групп номенклатуры,  регистр ПланПродаж, который тоже в разрезе организации, это план в разрезе товаров помодельно и по количеству

[2019-03-13 12:12] SanyaSkipor commented on #8
Да, вижу. Сразу посмотрел на регистр ПланыПродаж, там без разреза по Организации

[2019-03-13 12:17] SanyaSkipor commented on #8
Я планирую насобирать кучу временных таблиц, собрав все данные, которые нужны, а потом их соединить. Нормальный план?

[2019-03-13 12:17] michaelvasilyuk commented on #8
@SanyaSkipor сейчас в базе небольшая путаница с этими регистрами, поскольку клиент уходит от старой архитектуры, и переходит к новой.

[2019-03-13 12:18] michaelvasilyuk commented on #8
Отличный план. Не забывай индексировать таблицы по соединяемым полям

[2019-03-13 12:18] SanyaSkipor commented on #8
Хорошо, учту

[2019-03-13 12:35] SanyaSkipor commented on #8
Во всех полях, связанных с рынком, мы отбираем то, где Склад принадлежит Организации с ЭтоРозничнаяТочка = Истина?

[2019-03-13 12:37] SanyaSkipor commented on #8
И свободный остаток - это разница между Остатки на Складах и ТоварыВРезервеНаСкладах?

[2019-03-13 12:38] Nika987 opened #11 "[ПТ] Исправить замечания по задаче "Выгрузка/загрузка корректировок поступлений (Долгов)"."
1. Форма обработки "Выгрузка корректировок поступления в БП":
1.1. Убрать слово Обработка.
1.2. Написать полное название Выгрузка корректировок поступлений в БП.
1.3. Левее сместить поля по одной линии. Поднять поля чуть вверх. Уменьшить размер полей для ввода дат. Выровнять по левому краю, чтобы поля были на одной линии. (https://monosnap.com/file/xhUfeNB1w0x5ZHLpa2fnC4J024Lhiz )
1.4. Удалить вер

[2019-03-13 12:40] michaelvasilyuk commented on #8
Уточнение от заказчика: он употребил слово "рынок", а имел в виду "Организация". То есть никаких отборов по ЭтоРозничнаяТочка нам не нужно. Единственный момент: Склад для ИМ Премьер-Техно нужно жестко привязать СкладЛихоборы

[2019-03-13 12:40] michaelvasilyuk commented on #8
это верно

[2019-03-13 13:39] SanyaSkipor commented on #8
Не совсем понял, что значит жестко привязать?

[2019-03-13 13:48] michaelvasilyuk commented on #8
например есть поле "Свободый остаток рынки". имеется в виду свободный остаток на складе организации. но у ИМ Премьер техно нет собственного склада, где Склад.Организация = ИМ ПТ. поэтому нужно указать, что для организации ИМ ПТ - склад это Лихоборы.

[2019-03-13 14:21] Nika987 opened #12 "[ПТ] Исправить замечания по задаче "Улучшенный список печатных форм (Никитин)""
1. Справочник «СпискиПечатныхФорм»:
1.1. Убрать слово Справочник.

2. Списки печатных форм: Создание
2.1. Добавить панель к табличной части + кнопку "Заполнить по умолчанию". Кнопка "Заполнить по умолчанию" должна заполнять  табличную часть списком, согласно выбранному типу документа.
2.2. В табличной части убрать колонку Печатная форма. Изменить название колонки "Представление" на "Наименование",

[2019-03-13 16:51] kwas7 commented on #11
Замечания учтены

[2019-03-13 19:15] SanyaSkipor commented on #12
Поправил по замечаниям

[2019-03-14 08:26] Nika987 commented on #12
@SanyaSkipor
Привет)

[2019-03-14 08:47] Nika987 commented on #12
@SanyaSkipor
Привет)
Я посмотрела, все ок. Надо только еще три пункта доработать:
1. Кнопка Заполнить по умолчанию должна иметь картинку зеленый треугольник.

2. Списки печатных форм: Создание...
В табличной части, при выборе печатной формы нужно чтобы ее наименование отображалось в ячейке сразу, а не после окончания редактирования.

3. Регистр «Пользователи списков печатных форм»:
При выборе спис

[2019-03-14 11:18] SanyaSkipor commented on #12
Привет) Поправил и это

[2019-03-14 11:27] SanyaSkipor commented on #8
Что-то вроде этого?
 ВЫБОР
		КОГДА ТоварыВРезервеНаСкладахОстатки.Склад = &СкладЛихОборы
			ТОГДА &ИМПремьертехно
		ИНАЧЕ ТоварыВРезервеНаСкладахОстатки.Склад.Организация
	КОНЕЦ КАК Организация

[2019-03-14 11:33] michaelvasilyuk commented on #8
@SanyaSkipor именно так

[2019-03-14 11:48] SanyaSkipor commented on #8
А чем отличаются поля "Свободно на рынке" и "Свободный остаток рынки"?

[2019-03-14 11:49] SanyaSkipor commented on #8
И что значит поле "Доступно у поставщика"?

[2019-03-14 11:59] michaelvasilyuk commented on #8
Доступно у поставщика: ![](https://clip2net.com/clip/m0/f71f4-clip-9kb.png?nocache=1)

Этот код есть в старом отчете по плану продаж. положил его в каталог с заданием: R:\Для всех\Каталог разработок\Задания\Задание 181. Отчет Сегментирование

Группа виртуальных складов получается:  Интеграция.ПолучитьГруппуВиртуальныхСкладов()

[2019-03-14 12:00] michaelvasilyuk commented on #8
Первое - это свободный остаток на конкретном рынке
Второе - свободный остаток в совокупности на всех организациях, где ЭтоРозничнаяТочка=Истина

[2019-03-14 12:03] SanyaSkipor commented on #8
Хорошо, я понял. Так а Вы вчера писали, что под рынками пользователь имел ввиду Организации

Для этого поля все-таки нужно будет это условие?

[2019-03-14 12:05] michaelvasilyuk commented on #8
@SanyaSkipor да, конкретно в случае поля "Свободный остаток рынки" имеется в виду реально остаток на розничных точках.  А "Свободно на рынке" это имеется в виду на любой Организации. Давай назовем это поле "Свободный остаток *на организации*" просто без "на рынке". а то путает.

[2019-03-14 12:08] michaelvasilyuk commented on #8
@SanyaSkipor уточнил у клиента, он хочет тогда чтобы это поле было "Свободный остаток на организации"

[2019-03-14 12:09] SanyaSkipor commented on #8
Хорошо. А отборы по номенклатуре в запросе ставить, чтоб была в плане продаж, как в прошлом отчете? Или как?

[2019-03-14 12:11] michaelvasilyuk commented on #8
отбор по номенклатуре нужен, да. и вот еще во втором файле какие они хотят отборы: ![](https://clip2net.com/clip/m0/9a992-clip-9kb.png?nocache=1)

[2019-03-14 12:33] Nika987 commented on #11
@kwas7
Добрый день!)
Валерий, пожалуйста, исправьте сл. замечания:

1.	В верхней панели подписать кнопки Заполнить, Выгрузить. Картинку для кнопки Заполнить заменить на треугольник, картинку для кнопки Выгрузить оставить.
2.	 В нижней панели на кнопках убрать выражения Восстановить значение и Сохранить значение, заменить их на картинки.
3.	Убрать наименование Выгружать, сузить по ширине колонку.
4

[2019-03-14 12:40] SanyaSkipor commented on #8
А по ценам: РРЦ, BASE, Закупочная понятно. ЯМ10 - это Яндекс 10 или какая? И с полями Маржа поясните пожалуйста, это разница относительно закупочной?

[2019-03-14 12:49] michaelvasilyuk commented on #8
ЯМ10 - это Яндекс 10

клиент прислал:
Маржа РРЦ = (РРЦ-ЗАкупочная)/РРЦ
Маржа BASE = (Base-закупочная)/BASE
Маржа ЯМ10 = (ЯМ10-закупочная)/ЯМ10

просто маржи там быть не должно. это он ошибся. вместо нее Маржа ЯМ10

[2019-03-14 13:36] SanyaSkipor commented on #8
Хорошо, а поля "Разница по количеству" И "Процент выполнения по количеству"?

[2019-03-14 13:37] michaelvasilyuk commented on #8
глянь там в файле есть формула. это разность и отношение между планом и фактом продаж

[2019-03-14 13:38] SanyaSkipor commented on #8
Ага, вижу

[2019-03-14 13:40] Nika987 commented on #12
@SanyaSkipor
Саша, все ок.
Спасибо)

[2019-03-14 13:41] #12 closed, assigned to SanyaSkipor

[2019-03-14 17:02] kwas7 commented on #11
Замечания учтены

[2019-03-14 19:19] Nika987 commented on #11
@kwas7
Валерий, в целом все хорошо. Завтра я сброшу некоторые замечания, но они будут касаться стандартов разработки. Если Вы еще не ознакомились с нашими стандартами разработки, пожалуйста, сделайте это.
Спасибо!)

[2019-03-15 08:10] SanyaSkipor commented on #8
Подскажите, а отборы есть в плане и есть на складах, что имеется ввиду? Организация или компания?

[2019-03-15 08:20] michaelvasilyuk commented on #8
Есть на складе - по компании
Есть в плане делаем два отбора: есть в плане организации, есть в плане по компании

[2019-03-15 08:24] SanyaSkipor commented on #8
А есть продажи?

[2019-03-15 08:32] michaelvasilyuk commented on #8
по компании в целом. во всех отборах давай явно напишем, что отбор **по компании** или **по организации**. а то они запутаются

[2019-03-15 08:33] SanyaSkipor commented on #8
Хорошо, так и сделаем

[2019-03-15 08:39] Nika987 commented on #11
@kwas7
Валерий, добрый день!)
Исправьте, пожалуйста, замечания в программном коде:
1. Согласно п. 2 «В модуле формы располагаются только процедуры и функции, относящиеся к элементам формы»:
Требуется перенести в модуль объекта процедуры по заполнению таблицы и выгрузке в файл.

2. Согласно п. 3 «Модуль формы и объекта должны быть разделены на секции (вызывается из шаблонов текста сочетанием "мф" д

[2019-03-15 08:39] michaelvasilyuk commented on #8
Изначально соединяем Номенклатуру прямо со справочником организаций по Организация.Активная

[2019-03-15 08:42] SanyaSkipor commented on #8
Хорошо

[2019-03-15 11:28] kwas7 commented on #11
Замечания учтены

[2019-03-15 12:33] michaelvasilyuk commented on #12
Сдал задачу клиенту, все хорошо!

[2019-03-15 14:20] michaelvasilyuk opened #13 "[БТС] Корректировка проводок при проведении"
Общая инфа по заданию: [ТЗ.docx](https://github.com/perspective-solutions/general-repository/files/2971439/default.docx)

Реализуем с помощью расширения. Догадываюсь, что потребуется создать регистр сведений, подписку на событие перед записью проводок и общий модуль.

В табличке там где указано, что договор входит в список договоров, имеется в виду, что несколько договоров соответствуют одной и то

[2019-03-15 14:25] michaelvasilyuk commented on #13
Да, и нужно сделать обработочку, которая бы взяла за период документы и сделала конвертацию проводок по нашему алгоритму, чтобы не перепроводить документы, так как это займет слишком много времени. А просто перезапись проводок должна пройти быстро.

[2019-03-16 12:36] kwas7 commented on #13
Эта таблица конечна или просто пример
Если пример тогда нужен приоритет полей поиска
Может ли быть ситуация когда часть документа реализации мы меняем проводки а часть нет
Вопрос по 90.03 счету -  в нем каким образом менять номенклатурную группу(нет ссылки на номенклатуру и счет учета номенклатуры)

[2019-03-16 13:04] michaelvasilyuk commented on #13
@kwas7
1. это конечная таблица, приоритет поиска по очередности полей в таблице, но насколько мне известно конфликтных ситуаций быть не должно.
2. все проводки меняем индивидуально, поэтому допускаю, что такое возможно
3. уточняю по вопросу 90.03

[2019-03-16 13:12] michaelvasilyuk commented on #13
по 90.03 и по 90.01.1 я вот что думаю. может быть нам сначала получить таблицу товаров, для каждого из них определить номенклатурную группу, а потом по итогам таблицы заново заполнить проводки, удалив те, что создал типовой механизм? то есть источником для определения номеклатурной группы будет не проводка, а заранее подготовленная таблица товаров?

[2019-03-16 13:15] michaelvasilyuk commented on #13
по отчету комиссионера получается, что:
90.02.1 - 45.01 формируется на основании каждой строки товаров
62.01 - 90.01.1 - тоже по каждой строке
90.03 - 68.02 - свернуто в разрезе ном группы и ставки ндс

[2019-03-16 13:16] michaelvasilyuk commented on #13
по реализации там зависимость от типа операции получается.

[2019-03-18 09:15] michaelvasilyuk opened #14 "[ПТ] Связь улиц и районов доставки"
Требуется сделать так, чтобы при выборе улицы автоматически заполнялся район доставки.

Для этого в спр РайоныДоставки создадим ТабличнуюЧасть "СписокУлиц" с реквизитом Наименование. В справочник добавим Макет, назовем его СписокУлиц, колонки: Регион, Район, Улица. Заполним этот макет на основании данных из [сайта](https://fms-reg.com/spisok-ulits-spb#adm). В форме элемента справочника сделаем кно

[2019-03-19 11:44] #13 closed, assigned to kwas7, Nika987

[2019-03-19 11:44] #11 closed, assigned to kwas7

[2019-03-19 13:11] michaelvasilyuk commented on #8
от клиента:

Пропала колонка "объем продаж по организации".

Остаток лих оборы - пробел лишний
Я н10 - это ЯМ10
Маржа я н10 - аналогично

Добавить колонку (отдельно как рейтинг) Бренд.

Все что количества и рубли - округлить до целых, разить на разряды.
Все что проценты - округлить до целых, вывести знак процента.

Рейтинг интернета выделить цветом: А+ яркозеленый, А зеленый, Б желтый, С бледный к

[2019-03-21 08:42] #8 closed, assigned to SanyaSkipor

[2019-03-21 08:44] michaelvasilyuk commented on #14
@SanyaSkipor нужно заполнить макет в районах доставки на основании сайта, что я тебе скидывал. Т.е. макет уже должен быть заполнен всеми улицами Питера.

[2019-03-21 09:50] Nika987 commented on #14
@SanyaSkipor
Привет!)
Добавь, пожалуйста, список выбора в поле Наименование (В районе доставки: Создание).

[2019-03-21 10:28] SanyaSkipor commented on #14
@Nika987 Привет)) А что включать в список выбора? Улицы, которые в макете совпадают с Регионом, выбранным в районе доставки, или же, как в документе ЗаказПокупателя, список улиц из регистра?

[2019-03-21 10:37] Nika987 commented on #14
@SanyaSkipor
В список выбора необходимо включить районы доставки, которые связаны с улицами. Выбрав район доставки и нажав на копку Заполнить, в табл. части появляется список улиц, относящихся к выбранному району.

[2019-03-21 10:49] SanyaSkipor commented on #14
@Nika987
А зачем нам при создании нового Района доставки выбирать уже существующий? Или я не так что-то понял, поправь пожалуйста)

[2019-03-21 10:55] michaelvasilyuk commented on #14
Ника имеет в виду, что выбрали регион, и выбираем из списка наименование района доставки.

[2019-03-21 10:56] SanyaSkipor commented on #14
То есть из наименований районов Санкт-Петербурга?

[2019-03-21 10:57] Nika987 commented on #14
Да

[2019-03-21 10:58] SanyaSkipor commented on #14
@Nika987 Понял, сделаю)

[2019-03-21 11:45] SanyaSkipor commented on #14
Улицы в макет загрузил, список выбора в поле "Наименование" добавил

[2019-03-21 12:56] Nika987 commented on #14
@SanyaSkipor
В заказе покупателей не происходит автозаполнение поля район доставки после ввода улицы и региона.
Например, я ввожу улицу Автогенная, регион Санкт-Петербург, и, как итог, происходит автозаполнение поля район доставки - Невский.

[2019-03-21 13:03] SanyaSkipor commented on #14
В данном случае район не заполнился, потому что из Регистра подтянулось "Автогенная ул", а в макете из сайта было "Автогенная ул.". Нужно что-то придумать, чтобы избегать подобных ситуаций

[2019-03-21 13:05] michaelvasilyuk commented on #14
логичным было бы привести состояние макета к состоянию регистра, то есть удалить точки из макета.

[2019-03-21 13:07] SanyaSkipor commented on #14
Просто тут дело не только в точках. К примеру, в регистре "Клинский пр-кт", а в макете "Клинский просп." И, думаю, таких много будет разных несоответствий.

[2019-03-21 13:08] michaelvasilyuk commented on #14
в общем все сокращения улиц, проспектов и проездов)

[2019-03-21 13:11] SanyaSkipor commented on #14
Хорошо, заменю в макете

[2019-03-21 13:31] SanyaSkipor commented on #14
Поправил обработкой все виды названий в макете в соответствии с регистром

[2019-03-21 13:58] Nika987 commented on #14
@SanyaSkipor
При выборе улицы и региона автоподбором не заполняется автоматически район доставки.

Район доставки заполняется только в том случае, когда из списка сам выбираешь улицу.

[2019-03-21 14:15] michaelvasilyuk opened #15 "[ПТ] Сохранение настроек отчетов на СКД"
Для отчета "Сегментирование" (и в дальнейшем для других отчетов на СКД) нужно сделать механизм, позволяющий сохранять свои настройки, и загружать чужие настройки. Вроде бы механизм описанный в [статье](https://infostart.ru/public/97997/) нам подходит.

[2019-03-21 15:23] SanyaSkipor commented on #14
@Nika987 А как ты автоподбором выбираешь?

[2019-03-21 15:54] michaelvasilyuk commented on #14
вводишь "Автоген" в улице, нажимаешь интер. после этого должна подставится улица и выбраться район доставки Невский

[2019-03-21 15:56] michaelvasilyuk commented on #15
Вообще ведь стандартные отчеты УТ тоже как-то сохраняют свои настройки. может быть можно сразу взять этот механизм и использовать для отчетов на СКД

[2019-03-21 16:03] SanyaSkipor commented on #14
Ага, понял. Поправил это

[2019-03-21 16:09] SanyaSkipor commented on #15
Ну сохранять свои настройки и загружать их мы же можем... "Сохранить значения" и "Восстановить значения" на форме. Вопрос с чужими..

[2019-03-21 16:11] michaelvasilyuk commented on #15
не, нам надо чтобы я сохранил настройку, а другой пользователь мог ей воспользоваться. Как в типовом механизме
![](https://clip2net.com/clip/m0/89e80-clip-38kb.png?nocache=1)

[2019-03-21 16:19] SanyaSkipor commented on #15
Поковыряюсь пока в типовом механизме, как там сделано..

[2019-03-21 18:45] Nika987 commented on #14
@SanyaSkipor
Саша, все равно ничего не происходит. Прикрепляю видео:
https://monosnap.com/file/S8jsTyvcl7ARHmnCfJDgyhbOsV2hM4

P.S. Перед тем как проверить перезагрузила 1С.

[2019-03-21 18:55] SanyaSkipor commented on #14
@Nika987 Все исправлено)

[2019-03-21 19:09] Nika987 commented on #14
@SanyaSkipor
С улицей Автогенная порядок, а с остальными нет) Прикрепляю видео:
https://monosnap.com/file/bpl5utbEyhdt4bF28ebHpCtoDFl8Pt

P.S. Ул. Бадаева из района доставки Невский

[2019-03-21 19:24] SanyaSkipor commented on #14
@Nika987 Оно не сработало, потому что в справочнике "РайоныДоставки" еще были данные из старого макета (с ненужными точками). Я сейчас обновил данные в элементе "Невский"

[2019-03-21 19:42] Nika987 commented on #14
@SanyaSkipor @michaelvasilyuk
Сейчас все ок.

[2019-03-21 19:46] michaelvasilyuk commented on #14
Ура! Тогда сегодня ночью внедряю.

[2019-03-21 19:49] #14 closed, assigned to SanyaSkipor

[2019-03-22 06:39] SanyaSkipor commented on #15
В папке задания "Сегментирование" положил файлик с отчетом. Называется "Сегментирование с сохранением настроек". В этой статье, которую вы вчера скинули, по сути и используется типовой механизм. Поэтому я решил им воспользоваться)

[2019-03-22 08:22] michaelvasilyuk commented on #15
изменению подвергся только отчет?

[2019-03-22 08:30] Nika987 commented on #14
@SanyaSkipor
Подскажи, пожалуйста, где ты менял код?  Имя модуля и коммент по которому можно найти твой код?

[2019-03-22 08:34] michaelvasilyuk commented on #15
Саш, возьми отчет "Сегментирование с сохраненим настроек_20190322_1133" и добавь в него сохранение выбранных на форме периодов.

[2019-03-22 08:40] SanyaSkipor commented on #14
@Nika987 Откомменчено: "// ДоработкаВыборРайонаПоУлице 22.03.2019
                                              // Конец доработки
1) Справочник РайоныДоставки, ФормаЭлемента
2) Документ ЗаказПокупателя, ФормаДокумента
3) Справочник РайоныДоставки, Модуль менеджера - там весь модуль

[2019-03-22 09:38] michaelvasilyuk opened #16 "[ПТ] Отбор документов по сотруднику"
Требуется сделать отбор документов по сотруднику (справочник Физические лица).

Список документов:
- Штрафы и премии
- Прием на работу
- Увольнение

На форму списков документов вывести поле ввода "Сотрудник". При установке значения в списке должны отобраться те документы, в которых есть выбранный сотрудник в табличных частях.

[2019-03-22 09:57] Nika987 commented on #14
@SanyaSkipor
Саша, пожалуйста:
1. раздели свой код на секции аккуратно, т.е.:  КонецПрцедуры - это строка конца процедуры; (т.е. перенеси коммент из этой строки)
2. Функция ПолучитьСписокУлиц... - отформатируй код  (правильные отступы).
3. Пустые строки в модуле должны разделять смысловые части кода.

https://monosnap.com/file/1H9N3X2evqEylIidE7oXuNkIYRx1tK

[2019-03-22 10:07] SanyaSkipor commented on #14
@Nika987
Хорошо, сейчас сделаю. Пустишь меня в конфигуратор?)

[2019-03-22 10:08] Nika987 commented on #14
@SanyaSkipor
вышла

[2019-03-22 10:14] SanyaSkipor commented on #14
Поправил

[2019-03-22 10:38] Nika987 commented on #14
@SanyaSkipor
Было бы хорошо, если бы ты разделил код на секции шаблоном "модуль объекта" и поместил свои процедуры в секцию общего назначения.

[2019-03-22 11:07] SanyaSkipor commented on #14
Сделано

[2019-03-22 11:52] Nika987 commented on #14
@SanyaSkipor
Спасибо, все аккуратно и красиво)

[2019-03-22 13:19] SanyaSkipor commented on #16
Сделал, можно смотреть. Процедуру в общем модуле "Интеграция" откомментил
"// доработка 22.03.2019"

[2019-03-22 13:19] michaelvasilyuk commented on #16
Спасибо, отлично. Ника посмотрит, отпишется.

[2019-03-22 19:35] Nika987 commented on #16
@SanyaSkipor
1. Привести верхнюю панель для каждого вида документа в одинаковый вид:
https://monosnap.com/file/0NFVoHygsa7ERcn329BY661LMGQzcz
	1.1. В документе Штрафы и премии убрать слово Документы;
	1.2. В документах Увольнения и Прием на работу убрать слово Добавить на кнопке Добавить;
	1.3. В документе Штрафы и премии добавить кнопку Вывести на основании;
	1.4. Поле ввода Сотрудник во всех док

[2019-03-22 20:24] michaelvasilyuk commented on #16
У меня тоже пожелание: поле отбора поставить слева сверху, так же как в журнале заказов отбор по номеру документа стоит.

[2019-03-22 20:25] michaelvasilyuk commented on #15
Клиент принял задачу, все ок

[2019-03-22 20:27] #15 closed, assigned to Nika987, SanyaSkipor

[2019-03-23 14:49] SanyaSkipor commented on #16
Поправил по найденным замечаниям. Хотел пораньше сделать, но тут немного отвлекли.

[2019-03-25 08:38] Nika987 commented on #16
@SanyaSkipor
все ок

[2019-03-25 12:55] #16 closed, assigned to SanyaSkipor

[2019-03-25 13:43] Nika987 opened #17 "[ПТ] Печатная форма "Претензия""
Создать печатную форму "Претензия" в документе "Возврат товаров поставщику",
[Шаблон файла с возвратами.xlsx](https://github.com/perspective-solutions/general-repository/files/3003697/default.xlsx)

Источники данных для печатной формы:

- Документ "Возврат товаров поставщику" из которого печатается форма
- Номенклатура - из табличной части возврата
- Документ "Уценка товаров", в котором была созда

[2019-03-26 11:22] SanyaSkipor commented on #17
По заданию вроде все - можно смотреть. ПечФорма называется "Претензия".

[2019-03-26 13:51] Nika987 commented on #17
@SanyaSkipor
Исправь, пожалуйста:
1. Перенеси реквизит "Комментарий к возврату" в закладку Настройки печати.
2. Удали закладку Печать.
3. Укажи в печатной форме еще:
                № Претензии:  ВозвратТоваровПоставщику.Номер
                Дата Претензии: ВозвратТоваровПоставщику.Дата
4. Печатная форма "Претензия", привести шаблон "Претензия" в читабельный вид:
                все поля должны и

[2019-03-26 18:05] SanyaSkipor commented on #17
Замечания поправил

[2019-03-26 22:47] Nika987 commented on #17
@SanyaSkipor
Все ок) Единственное, поправь, пожалуйста:
Печатная форма "Претензия", в табличке шаблона сделать центрирование полей по вертикали и горизонтале по центру.
https://take.ms/Wdlak

Подскажи, пожалуйста, где ты менял код? Имя модуля и коммент по которому можно найти твой код?

[2019-03-27 05:13] SanyaSkipor commented on #17
Доброе утро) Поправил. В конфигурации код нигде не менял. Весь код в файле с внешней обработкой "Претензия". Файл лежит в папке с заданием "Задание 189. Претензия". Функция с печатью в модуле объекта находится

[2019-03-27 08:53] Nika987 commented on #17
@SanyaSkipor
Привет,
все ок, только в  конце таблицы появилась странная полоса - убери ее, пожалуйста.
https://take.ms/HjBDd

[2019-03-27 09:12] SanyaSkipor commented on #17
Убрал)

[2019-03-27 09:21] Nika987 commented on #17
@SanyaSkipor
В шаблоне "Претензия" в табличной части в поле Таможенная декларация исчезло центрирование полей по вертикали и горизонтале по центру. Сделай, пожалуйста, центрирование поля по вертикали и горизонтале по центру.
https://take.ms/6kfNO

[2019-03-27 09:25] SanyaSkipor commented on #17
Там стоит центрирование по горизонтали и вертикали, и в шапке, и в строке. Это 1С так центрирует ровно)

[2019-03-27 15:30] Nika987 opened #18 "[ПТ] Создание печатной формы "Накладная для сервиса""
Создать печатную форму "Накладная для сервисного центра" в документе "Перемещение товаров", по шаблону
[в протор сервис накладная для сервиса 07.03.19.xlsx](https://github.com/perspective-solutions/general-repository/files/3013941/07.03.19.xlsx)

Грузоотправитель - добавить в перемещение закладку "Параметры печати" - туда реквизит Грузоотправитель, тип Справочник.Организации

Источники данных для

[2019-03-28 12:23] SanyaSkipor commented on #18
По заданию вроде все, можно смотреть. Файл с отчетом лежит: "Задание 191. Накладная для сервиса".

[2019-03-28 14:06] Nika987 commented on #18
@SanyaSkipor
Исправь, пожалуйста:
1. Печатная форма "Накладная для сервиса", привести шаблон "Накладная на передачу техники" в читабельный вид:
       1.1.  в шапке печатной формы поля с указанием наименования и адреса Грузоотправителя и Грузополучателя должны иметь нижние границы, а также поле Дата составления должно иметь нижнюю границу (см. вложение);
      1.2. табличная часть должна иметь отс

[2019-03-28 15:43] SanyaSkipor commented on #18
Поправил по замечаниям

[2019-03-28 18:55] Nika987 commented on #18
@SanyaSkipor
Саша),
по п. 2 сделай, пожалуйста, длину поля такой, как например, длина полей Подразделение, Наименование в закладке Дополнительно.

[2019-03-28 19:18] SanyaSkipor commented on #18
Поправил, заодно с привязками получше познакомился)

[2019-03-29 07:30] Nika987 commented on #18
@SanyaSkipor
все ок

[2019-03-29 09:31] Nika987 opened #19 "[ПТ] Создание печатной формы "Заказ покупателя""
Создать печатную форму "Заказ покупателя" в документе "Реализация товаров и услуг".  Необходимо взять печатную форму "заказ покупателя", которая печатается из документа "заказ покупателя", и сделать на ее основе новую внешнюю печатную форму, которая будет печататься из документа "Реализация товаров и услуг".  Для заполнения полей печатной формы "Заказ покупателя" все данные берутся из документа "Р

[2019-03-29 10:39] Nika987 opened #20 "[ПТ] Создать печатную форму "Договор поставки""
Создать печатную форму "Договор поставки" в документе "Реализация товаров и услуг". Форма шаблона:
1. вверху наименование по центру Договор поставки.
2. внизу печатной формы заполняем "Адреса и банковские реквизиты":
данные нашей организации из документа "Реализация товаров и услуг"
(полное наименование организации, юр.адрес, ИНН, КПП, р/с + наименование банка, конт. телефоны);
данные контрагента:

[2019-03-29 13:53] SanyaSkipor commented on #19
Сделал, можно смотреть. Файл с ПечФормой лежит в папке: "Задание 192. Заказ покупателя"

[2019-03-29 14:24] Nika987 commented on #19
@SanyaSkipor
1. Не открывается печатная форма "Заказ покупателя", выводится служебное сообщение, смотри вложение: https://take.ms/a2Wm9

[2019-03-29 20:09] Nika987 opened #21 "[ПТ] Добавить реквизиты на закладку "Иерархия""
Добавить пять реквизитов на закладку «Иерархия» в Справочник.Номенклатура.Номенклатура:
Группа1 – самый верхний уровень; Группа2; Группа3; Группа4; Группа5
1.	Сделать установку значений этих реквизитов:
Перед записью товара в процедуре, где заполняется табчасть Родители добавить установку значений этих реквизитов, где ГруппаN = Родителю из строки N из таб части Родители.
2.	Создать обработку, кото

[2019-03-29 21:18] Nika987 commented on #19
@SanyaSkipor
1. Добавь, пожалуйста, недостающие строки в шаблон печатной формы (смотри вложение):
https://take.ms/LQL7y
2. Измени заголовок Реализация товаров и услуг на Заказ покупателя.

[2019-04-01 07:10] SanyaSkipor commented on #19
Замечания поправил

[2019-04-01 07:11] SanyaSkipor commented on #20
ПечФорму сделал. Лежит в папке "Задание 193. Договор поставки"

[2019-04-01 07:14] SanyaSkipor commented on #21
Сделал, обработка лежит в папке "Задание 194. Заполнение групп номенклатуры". Изменения в конфигурации в тестовой базе в модуле объекта справочника Номенклатура в процедуре ПередЗаписью откомменчены "Доработка 01.04.2019"

[2019-04-01 07:58] Nika987 opened #22 "[Вентстор] Сделать нетиповую нумерацию документов "Заказ покупателя""
Сделать нетиповую нумерацию документов "Заказ покупателя".

Поле “Номер” в документе “Заказ покупателя” должен определяться по формуле: [НомерСчета]/[ПорядковыйНомерЗаказаЭтогоСчета].

Например, номер счета 000000240, если у него два заказа, тогда номера заказов будут: "000000240/1" и "000000240/2".

[2019-04-01 08:28] Nika987 commented on #19
@SanyaSkipor
Все ок

[2019-04-01 09:08] Nika987 commented on #20
@SanyaSkipor
Исправь, пожалуйста:
1. Убери нижнюю границу (полоску) внизу заголовка "Договор".
2. Сделай шрифт текста заголовка Arial 10 px.
3. Определи область печати А4, книжная, чтобы "Адреса и банковские реквизиты" были размещены внизу (на данный момент они располагаются по середине страницы).
4. В разделе "Адреса и банковские реквизиты": сделай шрифт текста заголовка Arial 10 px, текст после

[2019-04-01 12:49] SanyaSkipor commented on #22
Сделал, можно смотреть. Процедура расположена в общем модуле "Интеграция"

[2019-04-01 13:12] Nika987 commented on #22
@SanyaSkipor
Исправь, пожалуйста:
1. Сделать, чтобы нумерация заказа начинался с ...../1, например: 000000240/1. (Сейчас она начинается с 000000240/2).
2. Поправь, пожалуйста, код:
     в важных местах кода поставь комментарии

[2019-04-01 13:23] Nika987 commented on #20
@SanyaSkipor
все ок.

[2019-04-01 14:10] Nika987 commented on #22
@SanyaSkipor
все ок.

[2019-04-01 14:57] Nika987 commented on #21
@SanyaSkipor
Подправь, пожалуйста:
1. В закладке "Иерархия групп" сделай две закладки: 1. Табличная часть 2. Группы
https://take.ms/nE4EU
2. Очень долгая обработка, поэтому:
- надо сделать чтобы каждые 500 элементов фиксировать транзакцию;
[code]
- надо записывать объект справочника с
`НоменклатураОбъект.ОбменДанными.Загрузка=Истина;`
- этот код надо вставить в процедуру ПерезЗаписью справочника н

[2019-04-01 17:02] michaelvasilyuk commented on #22
Внедрил, все работает!

[2019-04-01 17:02] #22 closed, assigned to SanyaSkipor

[2019-04-01 17:07] SanyaSkipor commented on #21
Поправил по замечаниям. По транзакциям немножко докрутил для дополнительной надежности)

[2019-04-01 20:59] Nika987 commented on #21
@SanyaSkipor
все ок

[2019-04-02 11:15] michaelvasilyuk commented on #21
Внедрил, все отлично работает!

[2019-04-02 11:15] #21 closed, assigned to SanyaSkipor

[2019-04-03 15:29] michaelvasilyuk opened #23 "[ПТ] Вывести в счет подписи"
[Attachments_m.nikitin@premier-techno.ru_2019-04-03_17-23-47.zip](https://github.com/perspective-solutions/general-repository/files/3039389/Attachments_m.nikitin%40premier-techno.ru_2019-04-03_17-23-47.zip)

Файл печформы лежит в `R:\Для всех\Каталог разработок\Задания\Задание 196. Счет с подписями для Питера`

Требуется добавить туда вывод печати и подписи. Файлы с печатью и подписью находятся в

[2019-04-04 10:27] michaelvasilyuk opened #24 "[ПТ] Доработка отчета "Сегментирование""
1. Обновить тестовую базу до текущей версии рабочей базы (все кроме документа перемещение, там в нас в тестовой еще реквизит лишний, который нужен в рабочей базе). Файл конфигурации лежит в каталоге задачи: `Задание 195. Сегментирование на основании плана по ценовым сегментам`.
Теперь источник плана - это новый документ "Установка плана по ценовым группам". И план устанавливается в разрезе Ценовых

[2019-04-04 10:32] michaelvasilyuk commented on #23
Внедрено, все ок.

[2019-04-04 10:32] #23 closed, assigned to SanyaSkipor

[2019-04-04 12:33] michaelvasilyuk opened #25 "[ПТ] Доработка обработки заполнения спец. продаж"
1. Актуальную версию обработки взять из рабочей базы из внешних обработок табличных частей
2. Сделать новый каталог с заданием и положить туда обработку
3. В обработке сделать две вещи:
- на уровне запроса убрать товары с брендом `Справочники.Бренд.НайтиПоКоду("160")` (MIELE)
- Добавить колонку "Использование", вывести первой в качестве флажка, добавить кнопки "УстановитьВсе", "СнятьВсе". И делать

[2019-04-04 12:45] michaelvasilyuk opened #26 "[ПТ] Доработка сигнатур для УПД"
во внешней печатной форме УПД у нас есть такой код:

[code]
Суть его в том, что мы выводим подписантом УПД сотрудника Балак и его доверенность. Это кладовщик. Но проблема в том, что у них посменно работают два кладовщика. И нужно выводить того кладовщика. который работал в Дату реализации.

Для этого мы создаем регистр сведений "ПользователиЖурналаАвторизаций" (измерение "Пользователь") - в нем мы

[2019-04-04 12:55] michaelvasilyuk commented on #24
По полю "План по компании" все ок. По полям "Разница по количеству" и "Процент выполнения по количеству" неверно идет расчет. проверь чтобы все расчитывалось правильно. скорее всего в расчете неправильно берется "План по организации". Если он берется суммой, то цифры по выполнению будут сильно занижены, так как реальный план сильно меньше.

[2019-04-04 13:52] SanyaSkipor commented on #25
Сделал. Файл с обработкой лежит в папке "Задание 197. Доработка СпецПродаж"

[2019-04-04 18:04] SanyaSkipor commented on #26
Задание сделал. Файлы лежат в папке "Задание 198. Доработка сигнатур для УПД"

[2019-04-05 12:07] michaelvasilyuk commented on #25
внедрил, все ок!

[2019-04-05 12:07] #25 closed, assigned to SanyaSkipor

[2019-04-05 12:51] #17 closed, assigned to SanyaSkipor

[2019-04-08 12:54] michaelvasilyuk opened #27 "[ПТ] Выгрузка спец. продаж в 1с 7.7"
Каталог задания: R:\Для всех\Каталог разработок\Задания\Задание 199. Перенос в бух 7.7
В нем находится актуальная обработка выгрузки документов. В ней есть пункт выгрузки "Реализация (спец.)". Это выгрузка реализаций с признаком ЭтоСпециальнаяПродажа=Истина.
Клиент хочет, чтобы выгружались не все такие документы за период, а чтобы он мог выбрать, какие именно документы он хочет выгрузить в конкрет

[2019-04-09 11:29] michaelvasilyuk opened #28 "[Кертинг] Обмен "Комплексная автоматизация" - "Бухгалтерия предприятия""
Каталог задания:  D:\Develop\Василюк Михаил\Задание 143. Обмен КА - БП
Файловый диспетчер на сервере отключен, поэтому любые операции с файлами через сохранение/открытие файлов в 1с.

Существует три базы "Бухгалтерия предприятия":
- Srvr="msk-dc-sql-4";Ref="bp_cube";
- Srvr="msk-dc-sql-4";Ref="bp_kh";
- Srvr="msk-dc-sql-4";Ref="bp_kr";

И одна база "Комплексная автоматизация":
- Srvr="msk-dc-sql-1

[2019-04-10 08:50] michaelvasilyuk opened #29 "[БТС] Сделать обработку многопоточного проведения"
Нам требуется написать обработку, которая в многопоточном режиме проведет документы, которые мы получаем из запроса. Текст запроса у нас уже есть: [Текст запроса.txt](https://github.com/perspective-solutions/general-repository/files/3062798/default.txt).

В отличие от партионного учета, где мы должны сохранять последовательность проведения документов в разрезе склада/номенклатуры, тут нужно послед

[2019-04-11 07:39] Nika987 commented on #17
Внесены изменения:
1. № Документа покупки: Счет-фактураполученный.Номер (на основании документа ПоступлениеТоваровУслуг)
Дата документа покупки: Счет-фактураполученный.Дата (на основании документа ПоступлениеТоваровУслуг).
2. Стоимость: Цена. из табличной части "Товары". из документа "Возврат товаров поставщику".
3. Артикул модели: Номенклатура.Код.
4. Полное наименование: Интеграция.ПолучитьРасши

[2019-04-11 07:41] michaelvasilyuk commented on #17
Супер, спасибо!

[2019-04-11 17:50] michaelvasilyuk commented on #24
:)

[2019-04-15 07:48] michaelvasilyuk opened #30 "[ПТ] Ограничение количества самовывозов"
Есть заказ покупателя, в нем есть вид доставки. Один из видов доставки "Самовывоз". Требуется сделать механизм ограничения количества проведенных заказов, у которых самовывоз указан на одну дату (желаемая дата доставки).

Этот механизм нужно применять для заказов, у которых:
Организация = ИМ Премьер Техно спб
Вид доставки = Самовывоз
Склад Группа = Радуга Мидея
День недели желаемой даты доставки:

[2019-04-15 07:54] michaelvasilyuk opened #31 "[РемСтройСервис] Колонка "Группа номенклатуры" в документе "Заявка материалов на объект""
Требуется добавить колонку "Группа номенклатуры" в документе "Заявка материалов на объект". Сделать недоступной для редактирования, заполнять при выборе или подборе номенклатуры.

[2019-04-15 08:04] michaelvasilyuk opened #32 "[РемСтройСервис] Добавить колонку "Внимание" в документ "Заявка материалов на объект""
Добавить колонку "Внимание" в документ "Заявка материалов на объект". Это будет флажок после колонки "НомерСтроки". Если он выбран, выделаем строку жирным шрифтом. Если в документе есть хотя бы одна строка, где Внимание=Истина, то выделяем строку с документов в списке документов жирным.

[2019-04-15 09:33] michaelvasilyuk opened #33 "[ПТ] Добавить кнопки для интерфейса "МенеджерОтделаУчета""
1. Маршрутный лист
2. Перемещение
3. Рабочее место менеджера по транспорту

Ниже отмечено куда нужно добавить кнопочки:
![1111](https://user-images.githubusercontent.com/48488168/56122179-74b24600-5f7a-11e9-9d0c-44784fde96d9.png)

Тестить под пользователем: "Эм Кирилл Сафронович". Пароль в тестовой базе нужно ему снести просто.

[2019-04-15 12:41] SanyaSkipor commented on #30
Задачку сделал в тестовой базе, можно смотреть

[2019-04-15 18:54] kwas7 commented on #32
Посмотрите

[2019-04-16 10:45] Nika987 commented on #32
@kwas7
все ок.

[2019-04-16 13:45] Nika987 commented on #30
@SanyaSkipor
все ок

[2019-04-17 08:53] michaelvasilyuk opened #34 "[ПТ] Интеграция с Битрикс 24"
Создаем обработку "ИнтеграцияБитрикс24".

Приемы программирования берем из "ИнтеграцияССайтом".

Подключение к базе битрикса:
- адрес 82.202.215.155:3306
- логин/пароль: root Y5m_GE4453M4N

На основании списка таблиц и полей, который прислала Саша, формируем табличку на форме обработки. Заполняем ее. Делаем колонку "Использование", чтобы можно было выгружать конкретные строки. Потом по кнопке "Выг

[2019-04-17 11:24] #33 closed, assigned to Nika987

[2019-04-18 11:19] michaelvasilyuk opened #35 "[ПТ] Отчет по бонусам"
"Отчет по бонусам".
Группировка:
- Номенклатура с иерархией,
Колонки:
- Номенклатура,
- "Свободный остаток Лихоборы",
- "Свободный остаток" - это свободный остаток по складам организации пользователя, но если организация пользователя НЕ ЭтоРозничнаяТочка, то выводим свободный остаток по компании в целом,
- "Цена продажи" РРЦ, но если организация пользователя НЕ ЭтоРозничнаяТочка, тогда BASE
- "Бон

[2019-04-18 12:10] #24 closed, assigned to SanyaSkipor

[2019-04-18 12:10] #18 closed, assigned to SanyaSkipor

[2019-04-18 12:11] #29 closed, assigned to SanyaSkipor

[2019-04-22 12:35] Nika987 opened #36 "[ПТ] Отчет "Продажи уценки""
Требуется создать отчет "Продажи уценки" на СКД, который будет рассчитывать бонус менеджера на основании валовой прибыли.

Поскольку данный механизм расчета бонусов актуален только для уцененной продукции, то в отчет должны попадать только товары, принадлежащие группам номенклатуры "Уценка" и "Уценка сайта".

Отчет строится на оборотах регистра "Продажи".

В отчет должны попадать только продажи по

[2019-04-22 14:38] #26 closed, assigned to SanyaSkipor

[2019-04-22 14:38] #30 closed, assigned to Nika987, SanyaSkipor

[2019-04-22 14:38] #31 closed, assigned to Nika987

[2019-04-22 14:38] #32 closed, assigned to kwas7, Nika987

[2019-04-22 14:38] #35 closed, assigned to SanyaSkipor

[2019-04-22 14:39] #27 closed, assigned to Nika987

[2019-04-22 21:22] michaelvasilyuk opened #37 "[ПТ] Отчет Сегментирование (с настройкой для продавца)"
Каталог задания: `Задание 209. Сегментирование с настройкой для продавца`

Берем имеющийся отчет (положил в каталог задания).

### Доработка по настройке для продавца:

Если пользователю доступна роль "ПродавецРынка" или "ПродавецИнтернетМагазина", тогда мы должны ограничить ему вывод колонок. А именно мы должны отключить ему вывод всех колонок, кроме:
- Колонки группировок
- План по организации (

[2019-04-23 13:26] michaelvasilyuk opened #38 "[ПТ] Печать ценников"
Каталог задания `Задание 210. Печать ценников`.

Положил туда старую обработку по ценникам.

Суть задания в том, что обработка написала через одно место и мне хочется убивать, когда я ее открываю. И нам надо сделать ее высшего качества. Поэтому мы напишем свою.

Реквизиты шапки удаляем все.

Все отборы реализуем на уровне таблицы отборов запроса
- Организация
- Тип цен (какие цены печатаем)
- Толь

[2019-04-23 19:45] Nika987 opened #39 "[РемСтройСервис] Сделать автопрочтение при открытии формы сообщений"
В документе "Заявка материалов на объект" необходимо сделать прочитанным полученное сообщение при открытии формы сообщений, т.е. должно срабатывать событие кнопки "Прочитано".

[2019-04-23 21:20] #39 closed, assigned to nobody

[2019-04-24 11:26] Nika987 commented on #36
@kwas7
Пожалуйста, исправьте замечания:
1. Отчет должен иметь две закладки: отбор и отчет. В качестве примера посмотрите Отчет по сегментированию (в каталоге задания).
2. На закладке отбор должен быть период отчета.
3. На закладке отбор должны быть отборы, как в отчете по сегментированию.
4. В верхней панели отчета убрать ненужные кнопки, см. вложение: https://monosnap.com/file/nDWWz8guhPG9n6hDqM8

[2019-04-24 12:36] Nika987 opened #40 "[ПТ] Перенос даты виртуальных складов"
Требуется создать внешнюю обработку "Установка даты поставки виртуальных складов".

В справочник "Склады" добавить реквизит "ИзменятьДатуПоставкиОбработкой" (Булево). Добавить его на закладку "СвойстваВиртуальногоСклада" справа от даты поставки.

Табличная часть обработки:
- Использование (булево)
- Склад (Ссылка на склад)
- Дата поставки

При открытии заполняем табличную часть складами, где Измен

[2019-04-25 07:12] Nika987 commented on #36
@kwas7
1. Нет отборов на закладке отбор:
Отборы на форме отчета:
ГоловнаяОрганизация
Документ продажи
Заказ покупателя
Номенклатура
Менеджер
2. Не выводится показатель отчета Бонус на уровнях Организация, Менеджер, Заказ покупателя:
https://take.ms/HpPj1

[2019-04-25 16:22] kwas7 commented on #36
Изменил

[2019-04-26 07:27] Nika987 commented on #40
@ivankuh57
1. Убрать лишние кнопки, см. вложение (https://take.ms/BamDf), они отмечены.
2. Убрать кнопку выполнить с нижней панели, см. вложение https://take.ms/HcUPQ .
3. Убрать кнопки с верхней панели и сделать такие же, как в Обработке формирование перемещение товаров на закладке Обработка, см. вложение: https://take.ms/7bTTZ .
4. В первой колонки нашей табличной части  элемент управления долже

[2019-04-26 08:42] Nika987 commented on #36
@kwas7
все ок

[2019-04-29 09:55] michaelvasilyuk opened #41 "[Вентстор] Проверка ставки НДС 18% в 2019 году"
У них та же проблема, что у ПТ. В России с 2019 года ставка ндс 20%, а у них в поступлениях кое-где мелькает 18%. Поэтому надо:
1. установить номенклатуре, где ндс не 20%, ставку 20% групповой обработкой как в ПТ
2. установить всем пользователям основную ставку ндс 20% обработкой как в ПТ
3. сделать в процедуре Интеграция.ПередЗаписьюПоступлениеТоваровУслуг проверку, как в ПТ :) если процедуры нет

[2019-04-29 10:32] michaelvasilyuk opened #42 "[ПТ] Заполнение номеров ГТД в реализациях"
Требуется сделать заполнение номера ГТД в реализациях перед записью документа по алгоритму: берем самое позднее предшествующее реализации поступление номенклатуры, где указан ГТД и записываем его в ТЧ.

- Сделать проверку, чтобы если номер ГТД заполнен, то перезаполнение не происходило
- Дата номера ГТД должна быть строго меньше, чем дата реализации

[2019-04-29 19:49] #41 closed, assigned to Nika987

[2019-04-29 20:03] #40 closed

[2019-04-29 20:03] #37 closed, assigned to SanyaSkipor

[2019-04-30 12:37] Nika987 commented on #42
@SanyaSkipor
все ок

[2019-05-01 11:43] michaelvasilyuk opened #43 "[Вентстор] Конвертация взаиморасчетов по расчетным документам"
Клиент хочет знать точное количество дней просрочки оплаты по документам отгрузки. Для того, чтобы мы знали эту информацию в базе существует типовая возможность, которая заключается в том, что мы начинаем вести взаиморасчеты в разрезе расчетных документов. Для этого используется регистр "ВзаиморасчетыСКонтрагентамиПоРасчетнымДокументам" (кажется так называется). Механизм включается на уровне догов

[2019-05-06 21:47] Nika987 opened #44 "[ПТ] Сделать документ "Расчет бонусов от продажи услуг""
## Общее

При продажи услуг сотрудникам компании начисляются бонусы. Требуется разработать систему для расчета этих бонусов. Система будет построена на базе нового документа "Расчет бонусов от продажи услуг", который необходимо добавить в базу.

## Роли

Бонусы начисляются сотрудникам в зависимости от их ролей в компании, а именно: Продавец, Администратор, РаботникСклада, Водитель, Руководитель. Д

[2019-05-08 11:22] kwas7 commented on #44
Посмотрите

[2019-05-08 22:07] Nika987 commented on #44
@kwas7
Валерий, пожалуйста, исправьте замечания:

1. Сделать в документе панель закладок: на первую закладку поместить табл. часть "Бонусы", на вторую табл. часть "ИсполнителиОрганизаций".
2. Убрать лишнее выражение "Расчет бонусов от продажи" в наименовании документа при его создании, см. вложение: https://take.ms/zVnRy . Посмотрите типовой механизм в любом типовом документе. например в заказе по

[2019-05-09 08:34] kwas7 commented on #44
Требуется уточнение
Что делать с водителем "Виртуальный водитель" ?
в маршрутных листах есть виртуальный водитель со ссылкой на документ реализация

[2019-05-09 08:38] kwas7 commented on #44
Посмотрите

[2019-05-09 14:25] Nika987 commented on #44
@kwas7
Исправьте, пожалуйста, замечания:
1. Табличная часть должна иметь название ИсполнителиОрганизаций.
2. При создании документ имеет название "Расчет бонусов от продаж услуг: Расчет бонусов от продаж услуг (Создание) - уберите, пожалуйста, одно выражение. Хотелось бы - "Расчет бонусов от продаж услуг (Создание)". См. вложение:  https://take.ms/zVnRy .
3. Поле для ввода "Номер" должно быть один

[2019-05-09 15:24] Nika987 commented on #44
@kwas7
Валерий, напоминаю вам, что в гитхабе размещены "Стандарты разработки". Пожалуйста, перечитайте их и исправьте замечания по написанию кода:
1. Идентификаторы не должны содержать цифры, если только это не необходимо по смыслу, см. сложение: https://take.ms/yQddEx .
2. В важных местах кода требуются комментарии.

[2019-05-09 15:25] Nika987 commented on #44
@kwas7
Виртуальный водитель ставится при создании маршрутного листа пока его не обработает логист и не поставит реального водителя, поэтому в нашем случае виртуальный водитель исключен, так как по отгруженной реализации виртуального водителя быть не может.

[2019-05-09 18:59] kwas7 commented on #44
Обновил
по заполнению - после 16.04 нет данных

[2019-05-10 10:49] Nika987 commented on #44
@kwas7
1. В табличной части "Бонусы" выводятся реализации с услугами, которые указаны в регистре Правил расчета бонусов от продажи услуг, например:
в регистре Правила расчета бонусов от продаж услуг есть запись, где Номенклатура = Установка (Справочник.Номенклатура.УслугиРозницы.Установка) и это значит, что в нашей табличной части "Бонусы" должны быть реализации, где есть услуга "Установка".
2. В

[2019-05-10 15:44] kwas7 commented on #44
по 1 не вижу - так и было реализовано
по 2 добавил проверку

[2019-05-10 22:26] Nika987 commented on #44
@kwas7
все ок

[2019-05-13 15:55] Nika987 opened #45 "[ПТ] Отчет по бонусам от продажи услуг"
### Общее

Отчет формируется на основании регистра накопления "БонусыОтПродажиУслуг".

________________________________________________________________________________________________________

### Создание регистра и проведение документа

Регистр накопления "БонусыОтПродажиУслуг"формируется на основании документа "Расчет бонусов от продажи услуг".

- Вид регистра: обороты;
- Измерения:
   - Головн

[2019-05-13 16:22] michaelvasilyuk opened #46 "[ПТ] Поле "Внутренний идентификатор" в справочник "Номенклатура""
#### Доработать справочник Номенклатура

- Добавить в справочник "Номенклатура" поле "ВнутреннийИдентификатор" (Строка, 36)
- Перед записью элемента номенклатуры заполнять это поле:
`СправочникОбъект.ВнутреннийИдентификатор=СправочникОбъект.УникальныйИдентификатор();`

#### Доработать обработку

`Внешние обработки - Работа с номенклатурой товара - Выгрузка номенклатуры в эксель.
`
- Добавить в обр

[2019-05-13 20:16] #36 closed, assigned to kwas7

[2019-05-14 09:24] #42 closed, assigned to SanyaSkipor

[2019-05-14 12:05] michaelvasilyuk opened #47 "[Оазис] Отчет по заказам покупателей"
Нужно сделать еще один отчет. Очень простой. Данные берем из регистра сведений "ДополнительныеПоказателиСчетовЗаказов", там где `СсылкаНаДокумент ССЫЛКА Документ.ЗаказПокупателя И СсылкаНаДокумент.Проведен`

Период отчета влияет на дату заказа.

Группировки:
- Контрагент,
- ЗаказПокупателя

Показатели:
- СуммаПродажиТоваров
- ПлановаяСебестоимость
- СуммаВРозничныхЦенахСНДС
- СуммаБонуса
- СуммаДо

[2019-05-14 12:09] michaelvasilyuk opened #48 "[ПТ] Сегментирование"
`R:\Для всех\Каталог разработок\Задания\Задание 218. Сегментирование\Сегментирование_20190514_1506`

Принудительно не давать выводить колонки ПланируемыйБонусBASE и ПланируемыйБонусРРЦ, если в отчете не включена группировка по ГоловнойОрганизации

[2019-05-16 13:38] Nika987 commented on #45
@kwas7
1. При формировании записи движения по регистру период должен браться из даты реализации, а не из шапки документа.
2. Любые ссылки в отчете должны открываться по дабл клику.
3. Провести работника склада в регистр.

[2019-05-16 13:50] Nika987 commented on #44
@kwas7
Доработайте, пожалуйста, документ:
1. В документ не должны попадать водители из удаленных документов "Маршрутный лист", если маршрутных листов несколько, пусть нужно взять из того, где больше дата.
2. Добавить поле "Количество" на форму перед полем "Сумма".
3. При заполнении документа не должны попадать продажи, которые уже есть в регистре "БонусыОтПродажиУслуг", кроме тех, которые были соз

[2019-05-16 16:04] kwas7 commented on #44
Уточните пожалуйста "если маршрутных листов несколько, пусть нужно взять из того, где больше дата."

[2019-05-16 16:13] Nika987 commented on #44
@kwas7
т.е. брать тот маршрутный лист у которого стоит поздняя дата

[2019-05-16 16:48] kwas7 commented on #45
посмотрите

[2019-05-16 19:08] Nika987 commented on #44
@kwas7
Исправьте, пожалуйста, замечания:
1. Не заполняется табличная часть "Бонусы", см. вложение: https://take.ms/Ou8dF .
2. Поправить реквизиты в шапке документа:
    сделать небольшой интервал между чекбоксом и полем ввода Руководитель;
    сделать поле ввода Руководитель длиннее, см. вложение: https://take.ms/3O4q7 .
3. Растянуть поле табличного документа "Исполнители организаций" до правого к

[2019-05-16 19:48] Nika987 commented on #45
@kwas7
1. Поменяйте, пожалуйста, местами закладки в отчете: закладка "Отбор" затем закладка "Отчет".
2. Не выводится в отчете роль работника склада.
3. В регистре не выводится бонус.